In [1]:
# Loading the Dataset
# Data Visualization
# Train Test Data split
# Model building
# Training
# Evaluation
# Streamlit application

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/spam.tsv', sep='\t')
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [4]:
# checking if there's any null value in the dataset
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [5]:
# checking the shape
df.shape

(5572, 4)

In [6]:
# checking the number of unique values in 'label'
# value_counts -> Return a Series containing counts of unique values.
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [10]:
# the dataset isn't balanced. So, we need to sample 747 ham messages out of 4825.
# sample -> Return a random sample of items from an axis of object.
# DataFrame.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None, ignore_index=False)[source]
# n: int, optional. Number of items from axis to return.

ham = df[df['label']=='ham']
spam = df[df['label']=='spam']
ham.shape, spam.shape

((4825, 4), (747, 4))

In [11]:
ham = ham.sample(spam.shape[0])
ham.shape

(747, 4)

In [15]:
# Concatenate the ham and the spam samples
# pandas.concat
# Concatenate pandas objects along a particular axis.

data = pd.concat([ham, spam], axis=0, ignore_index=True)
data.shape

(1494, 4)

In [ ]:
#